<!-- index.hbs -->

<!--
Citation for the following file:
Date: 2023-11-30
Copied as a template then based on
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/
--> 

<h1>The server is running!</h1>
<p>If you see this text, the server is <strong>definitely</strong> working!</p>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokémon TCG Deck Manager</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Welcome to the Pokémon TCG Deck Manager</h1>
    <nav>
        <ul>
            <li><a href="/cards">View All Cards</a> - Browse and search all Pokémon cards.</li> 
            <li><a href="/decks">View All Decks</a> - See a list of all decks</li>
            <li><a href="/pokemon">View All Pokemon</a> - Explore the different Pokémon</li>
            <li><a href="/sets">View All Sets</a> - Check out the sets</li>
        </ul>        
    </nav>
</body>
</html>